@import url('https://fonts.googleapis.com/css?family=Comic+Sans|Merriweather|Chalkboard');


/*---------GENERAL------------
Main colors:
#F9F973 ; lemon yellow
#247D7A ; dark green
#2B5478 ; even darker green
#DB760A ; orange

*/

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  font-family: 'Comic Sans','Merriweather', 'sans-serif';
  margin: 0;  
  
}

.page-wrapper{

}

h1, h2, h3{
  color: #2B5478 ;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

.row {
  width: 95%;
  margin: 0 auto;
}

[class^="col-"] {
  float: left;
  padding: 0 1rem;
}

.col-1 {
  width: calc(100% / 12);
}

.col-2 {
  width: calc(100% / 12 * 2);
}

.col-3 {
  width: calc(100% / 12 * 3);
}

.col-4 {
  width: calc(100% / 12 * 4);
}

.col-5 {
  width: calc(100% / 12 * 5);
}

/***HEM*******************************/





/*-----------------NAV-----------------*/




/***VAD VI HAR GJORT*********************/
.portfolio {
  background: #DB760A;
}
.portfolio-item img {
  max-width: 100%;
}


/***VAD ERBUJDER VI*********************/

#services h1{
  padding-bottom: 10%;
}

#services h1, h3 {
  text-align: center;
}

#services div img {
  display: block;
  margin: auto;
  max-width: 100px;
  color: #DB760A;
}

#services{
  max-width: 80%;
  margin: auto;
  padding-top: 5%;
  padding-bottom: 40%;
}



/***KONTAKTA OSSS*********************/





/*********FOOTER****************************/
footer{
  clear: both;
}






/***NAV***********************************/










/*------- Screen size ----------------*/
@media all and (max-width: 1200px) {  
  
 
}

@media all and (max-width: 800px) {  
  .page-wrapper{
    max-width: 95%;
  }
  
  #services{
  max-width: 95%;
  margin: auto;
}
  
  .col-4{
    width: calc(100% / 12 * 12);
  }
  
  #services{
  padding-top: 0%;
  padding-bottom: 0%;
  }
    
  #services h1{
    padding-bottom: 2%;
  }
  
}
