@import url('https://fonts.googleapis.com/css?family=Comic+Sans|Merriweather|Chalkboard');


/*---------GENERAL------------
Main colors:
#F9F973 ; lemon yellow
#247D7A ; dark green
#2B5478 ; even darker green
#DB760A ; orange

*/

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  font-family: 'Comic Sans','Merriweather', 'sans-serif';
  margin: 0;  
  font-size: 16px;
  background: #fff;
}

.page-wrapper{

}

h1, h2, h3{
  color: #2B5478 ;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

.row {
  width: 95%;
  margin: 10px auto;
}

.title {
    padding: 2rem;
    font-size: 3rem;
    text-align: center;
}

/***HEM*******************************/
#home {
  background: #c77965;
}

#home .title {
  color: white;
  padding-bottom: 0;    
}

#home img {
  display: block;
  margin: 0 auto;
  max-width: 100%;    
}
/*-----------------NAV-----------------*/
#logo {
  display: block;
  padding: 0 30px;
  float: left;
  font-size: 20px;
  line-height: 60px;
}

#logo img{
    max-height: 80px;
}

.menu{
  left:-5rem;
}

label img{
  max-height: 3rem;
  padding-top: 1%;
  color: #fff;
}
label {
  height: 3.5rem;
}

 .toggle, [id^=drop] {
 display: none;}
 
 nav:after {
  content: "";
  display: table;
  clear: both;
}

nav ul {
  text-align: center;
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
}

nav ul li {
  margin: 0px;
  display: inline-block;
}

nav a {
  display: block;
  padding: 0 20px;
  color: #2B5478;
  font-size: 20px;
  line-height: 60px;
  text-decoration: none;
  font-weight: 700;
}

nav ul li ul li:hover { background: #247D7A; }

nav a:hover { background-color: #247D7A; color: #FFF; }

nav ul ul {
  display: none;
  position: absolute;
  top: 60px;
}

nav ul li:hover > ul { display: inherit; }

nav ul ul li {
  width: 170px;
  float: none;
  display: list-item;
  position: relative;
}

nav ul ul ul li {
  position: relative;
  top: -60px;
  left: 170px;
}

li > a:after { content: ' +'; }

li > a:only-child:after { content: ''; }

/***VAD HAR VI GJORT*********************/

#portfolio {
  max-width: 80%;
  margin: auto;
  padding-top: 15%;
  padding-bottom: 10%;
}

.portfolio-item {
  border: 4px solid #DC9447;
  background: url('images/dammy.jpg') no-repeat center 1%;
  background-color: transparent;
  width: 100%;
  height: 200px;
  display: inline-block;
  -webkit-transition: background .2s; 
  transition: background .2s;
}

.portfolio-item p {
  display: none;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  color: white;
}

.portfolio-item:hover {
  background: #DC9447;
}

.portfolio-item:hover p {
  display: block;
}

/***VAD ERBJUDER VI*********************/
#services h1, h3 {
  text-align: center;
}

#services div img {
  display: block;
  margin: auto;
  padding-top: 5%;
}

#services {
  max-width: 80%;
  margin: auto;
  padding-top: 5%;
  padding-bottom: 40%;
}

.col-41 {
      width: calc(100% / 12 * 4);
    }
    
#upp{
  clear: both;
  background-color: red;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 1.25rem;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}
#upp img{
  position: relative;
  display: block;
  margin: auto;
  height: 1.5rem;
  width: 1.5rem;
  top:.4rem;
}

/***KONTAKTA OSSS*********************/
#contact div {
    margin-left: 3.5%;
    display: inline-block; }
.contact-info {
    position: relative;
    bottom:8.5em;
    margin-left: 2%; }
    
 .contact-map>iframe{
    width: 100%; }  

/*********FOOTER****************************/
footer{
  clear: both;
}





/*------- Screen size ----------------*/
@media all and (max-width: 1200px) {  
  #services,
  #portfolio {
  max-width: 95%;
  }
}

@media all and (max-width: 768px) {  
  
/*-----Vad erbjuder vi----*/    
  #services,
  #portfolio {
  max-width: 95%;
  margin: auto;
}

.menu{
  left:0rem;
}
  
  .col-41{
    width: 100%;
  }
  
  #services{
  padding-top: 0;
  padding-bottom: 0;
  }
    
  #services h1{
    padding-bottom: 2%;
  }
    
/*------NAV-------*/
#logo {
  display: block;
  padding: 0;
  width: 100%;
  text-align: center;
  float: none;
}

nav { margin: 0; }

nav label{
  text-align: right;
}

nav ul {
  text-align: left;
  background-color: #D6F8D6;
}

.toggle + a,
 .menu { display: none; }

.toggle {
  display: block;
  background-color: #247D7A;
  padding: 0 20px;
  color: #FFF;
  font-size: 20px;
  line-height: 60px;
  text-decoration: none;
  border: none;
  transition: ease-in .2s;
  -webkit-transition: ease-in .2s;
  -o-transition: ease-in .2s;
  -moz-transition: ease-in .2s;
}

.toggle:hover { background-color: #DB760A; }

[id^=drop]:checked + ul { display: block; }

nav ul li {
  display: block;
  width: 100%;
}

nav ul ul .toggle,
 nav ul ul a { padding: 0 40px;}

nav a:hover,
 nav ul ul ul a { background-color: #DB760A; }
    
/***VAD HAR VI GJORT*********************/
.portfolio-item p {
    font-size: 1.5rem;
}    
 
/*Contact Oss */

.contact-info {    
    bottom: 0;     
    text-align: center; }
.contact-map {    
    text-align: center; }
}
    
@media (min-width:481px) {
    [class^="col-"] {
      float: left;
      padding: 0 1rem;
    }

    .col-4 {
      width: calc(100% / 12 * 4);
    }
    
    
    /* Vilka är vi? */
 
.line-separator{
  height: 1px;
  background:black;
  width: 700px;
  margin-left: auto;
  margin-right: auto;

}
.vilka är vi-title{
     color: #2B5478 ;
    padding:2rem;
    font-size: 3rem;
    text-align: center;
}


.floating-box1{
    display: inline-block;
    width: 150px;
    height: 200px;
    margin: 10px;
    border: 3px solid #73AD21;
    margin-left:220px;
    
}

.floating-box2{
    display: inline-block;
    width: 150px;
    height: 200px;
    margin: 10px;
    border: 3px solid #73AD21;
    margin-left:200px;
}
.floating-box3{
    display: inline-block;
    width: 150px;
    height: 200px;
    margin: 10px;
    border: 3px solid #73AD21;
   margin-left:200px;
}

.floating-name1{
  display: inline-block;
  width: 160px;
  height: 50px;
  border: 3px solid black;
  margin: 10px;
  margin-left:215px;
  background-color: #247D7A;
}

.floating-name2{
  display: inline-block;
  width: 160px;
  height: 50px;
  border: 3px solid black;
  margin: 10px;
  margin-left:190px;
  background-color: #247D7A;
}
.floating-name3{
  display: inline-block;
  width: 160px;
  height: 50px;
  border: 3px solid black;
  margin:10px;
  margin-left:190px;
  background-color: #247D7A;
}
.floating-box4{
    display: inline-block;
    width: 150px;
    height: 200px;
    margin: 30px;
    border: 3px solid #73AD21;
   margin-left:410px;
}
.floating-box5{
    display: inline-block;
    width: 150px;
    height: 200px;
    margin: 30px;
    border: 3px solid #73AD21;
   margin-left:180px;
}
.floating-name4{
  display: inline-block;
  width: 160px;
  height: 50px;
  border: 3px solid black;
  margin: 10px;
  margin-left:405px;
  background-color: #247D7A;
}
.floating-name5{
  display: inline-block;
  width: 160px;
  height: 50px;
  border: 3px solid black;
  margin: 10px;
  margin-left:190px;
  background-color: #247D7A;
}

} 

